# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/

# Logs
*.log

# FAISS generated index
database/faiss_index/

# OS files
.DS_Store
Thumbs.db
